* {
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 150px;
}

header {
 /* text-align: center; */
    background-color: #ebebeb;
    height: 40px;
    padding: 20px;
    margin-bottom: 10px;
}

nav {
    /* text-align: center; */
    height: 40px;
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
}

.clearfix {
    height: 300px;
    /* background-color: lightblue; */
}

#section {
    text-align: center;
    color:#777;
    background-color: #ebebeb;
    width: 60%;
    margin: left;
    width: 495px;
    z-index: 1;
    height: 100%;
    float: left;
}

#article {
    color:#ebebeb;
    background-color: #777;
    width: 478px;
    height: 70%;
    margin-left: 8.5px;
    margin-top: 60px;
}

#h {
    color:#777;
    background-color: #ebebeb;
    width: 450px;
    height: 25%;
    margin-top: 50px;
    margin-left: 13.5px;
}

#p {
    color:#777;
    background-color: #ebebeb;
    width: 450px;
    height: 25%;
    margin-top: 15px;
    margin-left: 13.5px;

}

#aside {
    color:#777;
    background-color: #ebebeb;
    width: 446px;
    z-index: 1;
    height: 100%;
    float: right;
    text
}

footer {
    height: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    clear: both; 
}